// Core variables and mixins
@import "variables.scss";
@import "mixins.scss";
// Global CSS
@import "global.scss";
// Components
@import "navbar.scss";
@import "masthead.scss";
@import "services.scss";
@import "portfolio.scss";
@import "timeline.scss";
@import "team.scss";
@import "contact.scss";
@import "footer.scss";

.red {
  color: red;
}

.news {
  padding: 15px;
  border: 1px solid #ccc;
}

.comments__item {
  padding: 5px;
  border: 1px solid steelblue;
}

.article {
  display: block;
  border: 1px solid green;
  margin-bottom: 15px;
  padding: 30px;
}

.none {
  display: none;
}